@import "tailwindcss";
.loading{
  animation: loadingState 1.5s infinite 0s ease-in-out ;
}
@keyframes loadingState{
   0%, 100% {
 
    height: 12px;
    width: 12px;
 
  }
  50% {
 
    transform: scale(1.4);
  
  }
}


.ScrollBar{
  scrollbar-width: none;
}